.Rproj.user
.Rhistory
.RData
.Ruserdata
~$CSV_Echo Variables Output_R.xlsx
~$echo_deidentified.xlsx
Summary Statistics Report_TTE.Rmd
Summary-Statistics-Report_TTE.html
Manual Data Extraction.xlsx
CSV_Echo Variables Output_R_LatestMarkups.xlsx
CSV_Echo Variables Output_R_Markups.xlsx
Manual NA verification.xlsx
Test
Testing.R
TTE_DataExtraction_Abstract.docx
~$Manual Data Extraction.xlsx
